@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    /* COLORES */
    --titulos: #2c405b;
    --textos-normales: #688ab0;
    --body-1: #d1dbe5;
    --body-2: #f7f8fc;
    --complementos: #7dbcdf;

    /* Tamaño de la tipografia */
    --fuente-mas-grande: ;
    --fuente-normal: ;

    /* Peso de la fuente */
    --perso-normal: 300;
    --peso-grande: 500;
}

body {
    font-family: 'Poppins','sans-serif';
}

/* Barra de navegación */

.Navegacion {
    background: var(--body-2);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    transition: all 0.5s ease;
}

.Navegacion__menu {
    display: flex;
    justify-content: space-between;
}

.Navegacion.active {
    background: var(--complementos);
}

.Navegacion.active .nav-link {
    color: var(--body-2);
}

.nav-link {
    color: var(--titulos);
    text-decoration: none;
}

.Navegacion__logo {
    font-size: 25px;
    font-weight: var(--peso-grande);
    padding: 0 40px;
    line-height: 80px;
}

.menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.menu--items {
    font-size: 18px;
    margin: 0 10px;
    line-height: 45px;
    text-transform: uppercase;
    width: max-content;
}

.menu--items--links {
    padding: 8px 12px;
    border-radius: 3px;
}

.menu--items--links:hover {
    background: var(--textos-normales);
    color: var(--body-2);
    transition: .5s;
}

.Navegacion__toggle {
    color: var(--body-2);
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

/* Principal, presentación */
.principal {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding-top: 20px;
    height: 100vh;

    display: grid;
    gap: 30px;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "presentacion   imagen  redes"
    "presentacion   imagen  redes";
}

.container__presentacion {
    grid-area: presentacion;
}

.container__presentacion-titulo {
    font-size: 60px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.container__presentacion-titulo i {
    font-size: 40px;
}

.container__presentacion-texto {
    font-size: 30px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.container__imagen {
    grid-area: imagen;
}

.container__imagen img {
    width: 400px;
}

.container__redes {
    grid-area: redes;
}

    .container__redes .redes--items {
        list-style: none;
        padding: 5px 0;
    }

        .container__redes .redes--items .redes--items-link {
            color: var(--textos-normales);
            text-decoration: none;
        }
            .container__redes .redes--items .redes--items-link i {
                font-size: 30px;
            }

/* se aplica cuando sea menos de 768 */
@media (max-width: 768px)  {
    .Navegacion {
        background: var(--complementos);
        height: 60px;
        
    }

    .nav-link {
        color: var(--body-2);
    }

    .Navegacion__logo {
        font-size: 20px;
        padding: 0 20px;
        line-height: 60px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: var(--titulos);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto; /*agregar scroll cuando la pantalla este muy chica*/

        left: 100%;
        transition: left 0.3s;
    }

    .menu--items {
        line-height: 70px;
    }

    .menu--items--links:hover {
        background: none;
        color: var(--textos-normales);
    }

    .Navegacion__toggle {
        display: block;
        cursor: pointer;
    }

    .menu_visible {
        left: 0;
    }

}