@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    /* COLORES */
    --titulos: #2c405b;
    --textos-normales: #688ab0;
    --body-1: #d1dbe5;
    --body-2: #f7f8fc;
    --complementos: #7dbcdf;

    /* Tamaño de la tipografia */
    --fuente-mas-grande: ;
    --fuente-normal: ;

    /* Peso de la fuente */
    --perso-normal: 300;
    --peso-grande: 500;
}

body {
    font-family: 'Poppins','sans-serif';
}

/* Barra de navegación */

.Navegacion {
    
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    transition: all 0.5s ease;
    z-index: 1;
}

.Navegacion__menu {
    /* background: red; */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Navegacion.active {
    background: var(--complementos);
}

.Navegacion.active .nav-link {
    color: var(--body-2);
}

.nav-link {
    color: var(--titulos);
    text-decoration: none;
}

.Navegacion__logo {
    font-size: 20px;
    font-weight: var(--peso-grande);
    line-height: 80px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu--items {
    font-size: 16px;
    margin: 0 0 0 10px;
    line-height: 45px;
    text-transform: uppercase;
    width: max-content;
}

.menu--items--links {
    padding: 8px 12px;
    border-radius: 3px;
}

.menu--items--links:hover {
    background: var(--textos-normales);
    color: var(--body-2);
    transition: .5s;
}

.Navegacion__toggle {
    color: var(--body-2);
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

/* Principal, presentación */
.principal {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding-top: 20px;
    height: 100vh;

    display: grid;
    gap: 20px;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "presentacion   imagen  imagen  redes"
    "presentacion   imagen  imagen  redes";
}

.container__presentacion {
    grid-area: presentacion;
}

.container__presentacion-titulo {
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.container__presentacion-titulo i {
    font-size: 40px;
}

.container__presentacion-texto {
    font-size: 25px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.botonPredeterminado {
    padding: 20px;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    color: var(--body-2);
    font-weight: var(--peso-grande);
    cursor: pointer;
    background: var(--complementos);
    box-shadow: 0 1px 0 rgba(0,0,0, .3);
    transition: 0.5s all;
}

.botonPredeterminado:hover {
    background: var(--titulos);
}

.container__imagen {
    grid-area: imagen;
}

.container__imagen img {
    width: 100%;
}

.container__redes {
    width: 150px;
    grid-area: redes;
}
    .container__redes .redes--items-link {
        color: var(--complementos);
        text-decoration: none;

        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
    }
        .container__redes .redes--items-link i {
            font-size: 30px;
        }


/* Sobre mi */
.presentacion {
    background: var(--body-2);
}

.sobreMi {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.sobreMi .contenedor {
    height: 100vh;
    display: grid;
    gap: 40px;
    align-items: center;
    align-content: center;
    grid-template-areas:
    "titulo titulo" 
    "foto   descripcion";
}

.container__titulo {
    grid-area: titulo;
    text-align: center;
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.container__miFoto {
    grid-area: foto;
}

.container__miFoto {
    width: 300px;
    height: 300px;
}

.container__miFoto img {
    border-radius: 10px;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
}

.container__descripcion {
    grid-area: descripcion;
}

.container__descripcion p {
    font-size: 18px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
    line-height: 1.5;
    text-align: justify;
}

/* Mis habilidades */
.misHabilidades {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}   

.misHabilidades .contenedor {
    height: 100vh;
    display: grid;
    gap: 20px;
    align-content: center;
    grid-template-areas:
    "contenido     contenido  contenido     contenido       contenido   contenido"
    "html          css        javascript    bootstrap       git         mysql";
}

.misHabilidades .contenedor .contenido {
    grid-area: contenido;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.javascript {
    grid-area: javascript;
}

.bootstrap {
    grid-area: bootstrap;
}

.Git {
    grid-area: git;
}

.mysql {
    grid-area: mysql;
}

.misHabilidades .contenedor .contenido h3 {
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
    text-align: center;
    margin: 0;
}

.misHabilidades .contenedor .contenido p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tecnologia {
    border-radius: 10px;
    transition: all .5s ease;
}

.tecnologia__icono img {
    width: 60px;
    transition: all .5s ease;
}

.tecnologia__nombre p {
    color: var(--textos-normales);
    font-size: 18px;
    font-weight: bold;
}

.proyectos {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.proyectos .contenedor {
    
    background: linear-gradient(
        90deg,
        rgba(5, 72, 82, 1) 0%,
        rgba(9, 39, 79, 1) 50%,
        rgba(51, 47, 83, 1) 100%,
    );
    margin: 0 auto;
    padding: 0 6px;
    height: 100vh;
}

img {
    width: 100%;
    /* object-fit: cover; */
}

.c-card {
    background: red;
    display: flex;
    padding: 20px;
}

.card {
    max-width: 500px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--complementos);
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, .25);
}

.card__banner {
    position: relative;
}

.card__banner img {
    display: block;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    align-items: center;
}

.c-background {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    width: 100%;
}

.card__poster img {
    max-width: 130px;
    border-radius: 5px;
}

.card__banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 20px 0px;
    text-align: right;
}

.content-title {
    font-size: 20px;
    color: var(--body-2);
    font-weight: var(--peso-grande);
    margin-bottom: 0;
}

.content-subtitulo {
    font-size: 18px;
    color: var(--body-2);
    font-weight: var(--perso-normal);
    margin: 0;
}

.content-btn {
    cursor: pointer;
    border: 1px solid var(--complementos);
    background-color: transparent;
    border-radius: 5px;
    color: var(--body-2);
    font-weight: var(--perso-normal);
    margin-top: 10px;
    padding: 5px 10px;
    transition: all .6s ease;
}

.content-btn:hover {
    background: var(--complementos);
}

.content-iconos i {
    margin-top: 10px;
    color: var(--body-2);
    background-color: var(--titulos);
    padding: 10px;
    margin-left: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .5s ease;
}

.content-iconos i:hover {
    color: var(--complementos);
}

.drop {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drop i {
    display: block;
    cursor: pointer;
    color: var(--titulos);
    font-size: 30px;
}

.drop i:hover {
    color: var(--complementos);
}

.card__descripcion {
    /* height: 0px; */
}

.c-card__descripcion {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.card__descripcion-texto h3 {
    font-size: 20px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
    border-bottom: 1px solid var(--titulos);
}

.card__descripcion-texto p {
    font-size: 18px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
    text-align: justify;
}

.card__descripcion-img {
    display: flex;
    justify-content: flex-end;
}

.persona {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--titulos);
    transition: all .5s ease;
}

.persona:hover {
    border-color: var(--body-2);
}

.persona img {
    position: absolute;
    top: -5px;
}




/* se aplica cuando sea menos de 768 */
@media (max-width: 768px)  {
    .Navegacion {
        background: var(--complementos);
        height: 60px;
        z-index: 100;
    }

    .nav-link {
        color: var(--body-2);
    }

    .Navegacion__logo {
        font-size: 20px;
        padding: 0 20px;
        line-height: 60px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: var(--titulos);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto; /*agregar scroll cuando la pantalla este muy chica*/

        left: 100%;
        transition: left 0.3s;
    }

    .menu--items {
        line-height: 70px;
    }

    .menu--items--links:hover {
        background: none;
        color: var(--textos-normales);
    }

    .Navegacion__toggle {
        display: block;
        cursor: pointer;
    }

    .menu_visible {
        left: 0;
    }


    /* Principal, presentación */
    .container {
        padding-top: 20px;
    
        display: grid;
        gap: 30px;
        align-items: center;
        text-align: center;
        grid-template-areas: 
        "imagen"
        "presentacion"
        "redes";
    }
    
    .container__presentacion {
        grid-area: presentacion;
    }
    
    .container__presentacion-titulo {
        font-size: 30px;
        color: var(--titulos);
        font-weight: var(--peso-grande);
    }
    
    .container__presentacion-titulo i {
        font-size: 20px;
    }
    
    .container__presentacion-texto {
        font-size: 20px;
        color: var(--textos-normales);
        font-weight: var(--perso-normal);
    }
    
    .container__imagen {
        grid-area: imagen;
    }
    
    .container__imagen img {
        width: 150px;
    }
    
    .container__redes {
        grid-area: redes;
        margin: 0 auto;
        width: 50%;
    }
    
        .container__redes .redes--items-link {
            color: var(--textos-normales);
            text-decoration: none;
            display: inline-block;
            justify-content: center;
            flex-wrap: wrap;
        }
            .container__redes .redes--items-link i {
                font-size: 30px;
                margin: 0 20px;
            }


    /* Sobre mi */
    .sobreMi .contenedor {
        height: 100vh;
        display: grid;
        gap: 20px;
        align-items: center;
        text-align: center;
        grid-template-areas:
        "titulo" 
        "foto"
        "descripcion";
    }

    .container__titulo {
        font-size: 30px;
    }

    .container__miFoto {
        grid-area: foto;
    }

    .container__miFoto {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .container__miFoto img {
        width: 100%;
    }

    .container__descripcion {
        grid-area: descripcion;
    }

    .container__descripcion p {
        font-size: 14px;
        text-align: center;
    }


    /* Mis habilidades */
    .misHabilidades .contenedor {
        grid-template-areas:
        "contenido  contenido"
        "html       css"
        "javascript bootstrap"
        "git        mysql";
    }
    
    .contenido {
        grid-area: contenido;
    }
    
    .html {
        grid-area: html;
    }
    
    .css {
        grid-area: css;
    }
    
    .javascript {
        grid-area: javascript;
    }
    
    .bootstrap {
        grid-area: bootstrap;
    }
    
    .Git {
        grid-area: git;
    }
    
    .mysql {
        grid-area: mysql;
    }
    
    .misHabilidades .contenedor .contenido h3 {
        font-size: 30px;
    }

    .misHabilidades .contenedor .contenido p {
        font-size: 14px;
    }
    
    .tecnologia {
        margin: 0 auto;
    }
    
    .tecnologia__nombre p {
        font-size: 14px;
    }


}


/* Se aplica cunado la resolución de pantalla es menor a 576px */
@media (max-width: 576px) {
    
}