@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    /* COLORES */
    --titulos: #2c405b;
    --textos-normales: #688ab0;
    --body-1: #d1dbe5;
    --body-2: #f7f8fc;
    --complementos: #7dbcdf;

    /* Tamaño de la tipografia */
    --fuente-mas-grande: ;
    --fuente-normal: ;

    /* Peso de la fuente */
    --perso-normal: 300;
    --peso-grande: 500;
}

body {
    font-family: 'Poppins','sans-serif';
}

/* Barra de navegación */

.Navegacion {
    
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    transition: all 0.5s ease;
    z-index: 1;
}

.Navegacion__menu {
    /* background: red; */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Navegacion.active {
    background: var(--complementos);
}

.Navegacion.active .nav-link {
    color: var(--body-2);
}

.nav-link {
    color: var(--titulos);
    text-decoration: none;
}

.Navegacion__logo {
    font-size: 20px;
    font-weight: var(--peso-grande);
    line-height: 80px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu--items {
    font-size: 16px;
    margin: 0 0 0 10px;
    line-height: 45px;
    text-transform: uppercase;
    width: max-content;
}

.menu--items--links {
    padding: 8px 12px;
    border-radius: 3px;
}

.menu--items--links:hover {
    background: var(--textos-normales);
    color: var(--body-2);
    transition: .5s;
}

.Navegacion__toggle {
    color: var(--body-2);
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

/* Principal, presentación */
.principal {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding-top: 20px;
    height: 100vh;

    display: grid;
    gap: 20px;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "presentacion   imagen  imagen  redes"
    "presentacion   imagen  imagen  redes";
}

.container__presentacion {
    grid-area: presentacion;
}

.container__presentacion-titulo {
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.container__presentacion-titulo i {
    font-size: 40px;
}

.container__presentacion-texto {
    font-size: 25px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.botonPredeterminado {
    padding: 20px;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    color: var(--body-2);
    font-weight: var(--peso-grande);
    cursor: pointer;
    background: var(--complementos);
    box-shadow: 0 1px 0 rgba(0,0,0, .3);
    transition: 0.5s all;
}

.botonPredeterminado:hover {
    background: var(--titulos);
}

.container__imagen {
    grid-area: imagen;
}

.container__imagen img {
    width: 100%;
}

.container__redes {
    width: 150px;
    grid-area: redes;
}
    .container__redes .redes--items-link {
        color: var(--complementos);
        text-decoration: none;

        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
    }
        .container__redes .redes--items-link i {
            font-size: 30px;
        }


/* Sobre mi */
.presentacion {
    background: var(--body-2);
}

.sobreMi {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.sobreMi .contenedor {
    height: 100vh;
    display: grid;
    gap: 40px;
    align-items: center;
    align-content: center;
    grid-template-areas:
    "titulo titulo" 
    "foto   descripcion";
}

.container__titulo {
    grid-area: titulo;
    text-align: center;
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.container__miFoto {
    grid-area: foto;
}

.container__miFoto {
    width: 300px;
    height: 300px;
}

.container__miFoto img {
    border-radius: 10px;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
}

.container__descripcion {
    grid-area: descripcion;
}

.container__descripcion p {
    font-size: 18px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
    line-height: 1.5;
    text-align: justify;
}

.container__descripcion .botonPredeterminado a {
    text-decoration: none;
    color: var(--body-2);
}

/* Mis habilidades */
.misHabilidades {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}   

.misHabilidades .contenedor {
    height: 100vh;
    display: grid;
    gap: 20px;
    align-content: center;
    grid-template-areas:
    "contenido     contenido  contenido     contenido       contenido   contenido"
    "html          css        javascript    bootstrap       git         mysql";
}

.misHabilidades .contenedor .contenido {
    grid-area: contenido;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.javascript {
    grid-area: javascript;
}

.bootstrap {
    grid-area: bootstrap;
}

.Git {
    grid-area: git;
}

.mysql {
    grid-area: mysql;
}

.misHabilidades .contenedor .contenido h3 {
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
    text-align: center;
    margin: 0;
}

.misHabilidades .contenedor .contenido p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tecnologia {
    border-radius: 10px;
    transition: all .5s ease;
}

.tecnologia__icono img {
    width: 60px;
    transition: all .5s ease;
}

.tecnologia__nombre p {
    color: var(--textos-normales);
    font-size: 18px;
    font-weight: var(--perso-normal);
}


/* Portafolio */
/* .proyectos {
    background: royalblue;
} */

.proyectos .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.proyectos .contenedor .contenido h3 {
    font-size: 50px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
    text-align: center;
    margin: 0;
}

.proyectos .contenedor .contenido p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetas .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all .25s;
}

.tarjetas .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
}

.tarjetas .card img {
    width: 330px;
    height: 220px;
    object-fit: scale-down;
}

.tarjetas .card .card__cuerpo  h4 {
    font-size: 16px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.tarjetas .card .card__cuerpo a i {
    font-size: 30px;
    margin: 10px;
    color: var(--complementos);
}

.tarjetas .card .card__boton {
    border: none;
    background: transparent;
    border: 1px solid var(--complementos);
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
    font-weight: var(--perso-normal);
    transition: all .5s ease;
}

.tarjetas .card .card__boton:hover {
    background: var(--complementos);
    color: var(--body-2);
    font-weight: var(--peso-grande);
    cursor: pointer;
}

.tarjetas__vacias {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tarjetas__vacias h4 {
    font-size: 16px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
}

.tarjetas .card a .fa-tools {
    color: var(--complementos);
    font-size: 80px;
    
}


/* Contacto */
.contacto {
    background: var(--body-2);
    height: 100vh;
}

.contacto .contacto__contenedor {
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "textos     textos      imagen"
    "textos     textos      imagen";
}

.contacto__textos {
    grid-area: textos;
    padding: 0 50px;
}

.contacto__contenedor .contacto__textos h3 {
    font-size: 70px;
    color: var(--titulos);
    font-weight: var(--peso-grande);
    margin-bottom: 0;
}

.contacto__contenedor .contacto__textos p {
    font-size: 20px;
    color: var(--textos-normales);
    font-weight: var(--perso-normal);
}

.contacto-redes a i{
    color: var(--complementos);
    font-size: 50px;
    margin-right: 10px;
}

.contacto-imagen {
    grid-area: imagen;
}

.contacto-imagen img {
    width: 100%;
}


/* Footer */

.piePagina {
    background: var(--titulos);
}

.contenedor__piePagina {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "textos         textos"
    "copyright      copyright";
}

.piePagina-textos {
    grid-area: textos;
}

.piePagina-textos h3 {
    font-size: 30px;
    font-weight: var(--peso-grande);
    color: var(--body-2);
}

.piePagina-textos h3 i img {
    width: 30px;
    margin-left: 10px;
}

.piePagina-textos p {
    font-size: 14px;
    color: var(--body-2);
    font-weight: var(--perso-normal);
}

.piePagina-redes a {
    font-size: 30px;
    color: var(--complementos);
    margin: 0 5px;
}

.piePagina-cop {
    grid-area: copyright;
}

.piePagina-cop p{
    font-size: 14px;
    color: var(--body-2);
    font-weight: var(--perso-normal);
    text-align: center;
}




/* se aplica cuando sea menos de 768 */
@media only screen and (max-width: 768px)  {
    .Navegacion {
        background: var(--complementos);
        height: 60px;
        z-index: 100;
    }

    .nav-link {
        color: var(--body-2);
    }

    .Navegacion__logo {
        font-size: 20px;
        padding: 0 20px;
        line-height: 60px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: var(--titulos);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto; /*agregar scroll cuando la pantalla este muy chica*/

        left: 100%;
        transition: left 0.3s;
    }

    .menu_visible {
        left: 0;
    }

    .menu--items {
        line-height: 70px;
    }

    .menu--items--links:hover {
        background: none;
        color: var(--textos-normales);
    }

    

    .Navegacion__toggle {
        display: block;
        cursor: pointer;
    }

    


    /* Principal, presentación */
    .container {
        padding-top: 20px;
    
        display: grid;
        gap: 30px;
        align-items: center;
        text-align: center;
        grid-template-areas: 
        "imagen"
        "presentacion"
        "redes";
    }
    
    .container__presentacion {
        grid-area: presentacion;
    }
    
    .container__presentacion-titulo {
        font-size: 30px;
        color: var(--titulos);
        font-weight: var(--peso-grande);
    }
    
    .container__presentacion-titulo i {
        font-size: 20px;
    }
    
    .container__presentacion-texto {
        font-size: 20px;
        color: var(--textos-normales);
        font-weight: var(--perso-normal);
    }
    
    .container__imagen {
        grid-area: imagen;
    }
    
    .container__imagen img {
        width: 150px;
    }
    
    .container__redes {
        grid-area: redes;
        margin: 0 auto;
        width: 50%;
    }
    
        .container__redes .redes--items-link {
            color: var(--textos-normales);
            text-decoration: none;
            display: inline-block;
            justify-content: center;
            flex-wrap: wrap;
        }
            .container__redes .redes--items-link i {
                font-size: 30px;
                margin: 0 20px;
            }


    /* Sobre mi */
    .sobreMi .contenedor {
        height: 100vh;
        display: grid;
        gap: 20px;
        align-items: center;
        text-align: center;
        grid-template-areas:
        "titulo" 
        "foto"
        "descripcion";
    }

    .container__titulo {
        font-size: 35px;
    }

    .container__miFoto {
        grid-area: foto;
    }

    .container__miFoto {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .container__miFoto img {
        width: 100%;
    }

    .container__descripcion {
        grid-area: descripcion;
    }

    .container__descripcion p {
        font-size: 16px;
        text-align: center;
    }


    /* Mis habilidades */
    .misHabilidades .contenedor {
        grid-template-areas:
        "contenido  contenido   contenido"
        "html       css         javascript"
        "bootstrap  git         mysql";
    }
    
    .contenido {
        grid-area: contenido;
    }
    
    .html {
        grid-area: html;
    }
    
    .css {
        grid-area: css;
    }
    
    .javascript {
        grid-area: javascript;
    }
    
    .bootstrap {
        grid-area: bootstrap;
    }
    
    .Git {
        grid-area: git;
    }
    
    .mysql {
        grid-area: mysql;
    }
    
    .misHabilidades .contenedor .contenido h3 {
        font-size: 35px;
    }

    .misHabilidades .contenedor .contenido p {
        font-size: 16px;
    }
    
    .tecnologia {
        margin: 0 auto;
    }
    
    .tecnologia__nombre p {
        font-size: 16px;
    }

    /* Mis proyectos */
    .proyectos .contenedor .contenido h3 {
        font-size: 35px;
        color: var(--titulos);
        font-weight: var(--peso-grande);
        text-align: center;
        margin: 0;
    }
    
    .proyectos .contenedor .contenido p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 60px;
        color: var(--textos-normales);
        font-weight: var(--perso-normal);
    }

    /* Contactame */
    .contacto {
        background: var(--body-2);
        height: 100vh;
    }
    
    .contacto .contacto__contenedor {

        margin: 0 auto;
        text-align: center;
        grid-template-areas: 
        "textos     textos"
        "textos     textos"
        "imagen     imagen";
    }
    
    .contacto__textos {
        grid-area: textos;
    }
    
    .contacto__contenedor .contacto__textos h3 {
        font-size: 35px;
    }
    
    .contacto__contenedor .contacto__textos p {
        font-size: 16px;
    }
    
    .contacto-redes a i{
        font-size: 40px;
    }
    
    .contacto-imagen {
        grid-area: imagen;
    }
    
    .contacto-imagen img {
        width: 50%;
        margin-top: 50px;
    }
    


}


/* Se aplica cunado la resolución de pantalla es menor a 576px */
@media (max-width: 576px) {
    
}